html {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #F8F8F8;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    padding: 0;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

h1{
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}